In [1]:
# Make a string 

a = 'This is my first post'
a

'This is my first post'

In [4]:
# Find Index Values
a[11]

'f'

In [5]:
# Find Length of Indices
len(a)

21

In [7]:
# Find Index range value
a[5:21]

'is my first post'

In [8]:
# Find reverse Indices value
a[-1]

't'

In [16]:
# Find reverse Indices value with range -- is not working properly here
a[-2:6]

''

##### string methods

In [19]:
food = 'pasta'

In [21]:
food.capitalize() #convert Capatalize

'Pasta'

In [22]:
food.upper() # convert into uppercase

'PASTA'

In [23]:
food.lower() # convert into uppercase

'pasta'

In [ ]:
#Replace any keyword
name = 'Tariq'
name.replace('q','que')

In [27]:
name = 'This is the second largest'  # word count
name.count('h')

2

In [32]:
name.find('second') #find index

12

In [34]:
#split
line = 'This is sindh,Pakistan'
line.split(',')

['This is sindh', 'Pakistan']

## Basic Data Structure in Python
**1- Tuple**

**2- List**

**3- Dictionaries**

**4- Set**

### 1 - Tuple
- Ordered Collection of elements
- enclosed in round braces ()
- different types of elements can be stored
- once elements are stored you cannot change (unmutable)

In [1]:
tup1 = (1,'Tarique',True,7.5)
tup1

(1, 'Tarique', True, 7.5)

In [2]:
# type of tuple
type(tup1)

tuple

### indexing in typle

In [3]:
tup1[1]

'Tarique'

In [5]:
tup1[1:3]

('Tarique', True)

In [6]:
#elements count in tuple
len(tup1)

4

In [7]:
tup2 = (1,'Pakistan')
tup2

(1, 'Pakistan')

In [8]:
tup1 + tup2

(1, 'Tarique', True, 7.5, 1, 'Pakistan')

In [2]:
tup3 = (1,2,3,4,5,6)
tup3

(1, 2, 3, 4, 5, 6)

In [3]:
min(tup3) #minimum

1

In [4]:
max(tup3) #maximum

6

In [5]:
tup3*2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [7]:
tup3.count(4)

1

In [8]:
tup3.index(5)

4

### 2 - List
- Ordered Collection of elements
- enclosed in square braces []
- once elements are stored you can change (mutable)

In [10]:
list1 = [1,'aslam',False,4.5]
list1

[1, 'aslam', False, 4.5]

In [9]:
list1.insert(1,2)
list1

[1, 2, 2, 'aslam']

In [8]:
list1.pop(3) # remove the element
list1

[1, 2, 'aslam']

In [18]:
list1

[1, 2, 2]

In [19]:
list1.append('aslam')
list1

[1, 2, 2, 'aslam']

In [17]:
type (list1)

list

In [20]:
list1.remove(2)
list1

[1, 2, 'aslam']

In [21]:
list1.remove(2)

In [22]:
list1

[1, 'aslam']

In [24]:
list1.append('apple')
list1

[1, 'aslam', 'apple']

In [25]:
list1.append('4')
list1

[1, 'aslam', 'apple', '4']

In [26]:
list1.append(5)
list1

[1, 'aslam', 'apple', '4', 5]

In [27]:
list1.sort()
list1

TypeError: '<' not supported between instances of 'str' and 'int'

In [14]:
list2 = [2,'nadir',True,10.5]
list2

[2, 'nadir', True, 10.5]

In [19]:
list1 + list2

[1, 'aslam', False, 4.5, 2, 'nadir', True, 10.5]

In [20]:
list2*2

[2, 'nadir', True, 10.5, 2, 'nadir', True, 10.5]

In [24]:
list1.append('youtube') #insert any element
list1

[1, 'aslam', False, 4.5, 'youtube']

In [23]:
list1.insert(2,'facebook') #intert any object and define index where to insert
list1

[10.5,
 True,
 'facebook',
 'nadir',
 2,
 10.5,
 True,
 'nadir',
 2,
 4.5,
 False,
 'aslam',
 1]

In [25]:
list1.extend('walid')
list1

[1, 'aslam', False, 4.5, 'youtube', 'w', 'a', 'l', 'i', 'd']

In [29]:
list3.clear()
list3

[]

In [30]:
list1.copy()

[1, 'aslam', False, 4.5, 'youtube', 'w', 'a', 'l', 'i', 'd']

In [36]:
list1.index(4.5)

3

In [37]:
len(list1)

10

In [40]:
list4 = [10,40,60,20,30,90,70]
list4.sort()
list4

[10, 20, 30, 40, 60, 70, 90]

In [41]:
list4*2

[10, 20, 30, 40, 60, 70, 90, 10, 20, 30, 40, 60, 70, 90]

In [42]:
lists = list1 + list2 
lists

[1,
 'aslam',
 False,
 4.5,
 'youtube',
 'w',
 'a',
 'l',
 'i',
 'd',
 2,
 'nadir',
 True,
 10.5]

In [16]:
list1.extend(list2)
list1

[1, 'aslam', False, 4.5, 2, 'nadir', True, 10.5, 2, 'nadir', True, 10.5]

In [21]:
list1.reverse()
list1

[10.5, True, 'nadir', 2, 10.5, True, 'nadir', 2, 4.5, False, 'aslam', 1]

### 1 - Dictionaries
- Unordered Collection of elements
- enclosed in curly braces {}
- key and value
- can change value (unmutable)

In [25]:
#fruit and their prices
fruit1 = {'apple':30,'banana':40,'orange':70,'grapes':90}
fruit1

{'apple': 30, 'banana': 40, 'orange': 70, 'grapes': 90}

In [39]:
fruit1.items() #retrun the key value pair
fruit1

{'apple': 30, 'banana': 40, 'orange': 70, 'grapes': 90}

In [40]:
fruit1.popitem() # remove the last item
fruit1

{'apple': 30, 'banana': 40, 'orange': 70}

In [34]:
fruit1.pop('apple') #remove selected item from the dictionary
fruit1

{'banana': 40,
 'orange': 70,
 'grapes': 90,
 'potato': 50,
 'tomato': 20,
 'rice': 60,
 'magno': 60}

In [44]:
fruit1['grapes'] = 90 # add key and value 
fruit1

{'apple': 30, 'banana': 40, 'orange': 70, 'grapes': 90}

In [27]:
x = fruit1.setdefault('banana','orange') #return the key value
x

40

In [56]:
fruit1['banana'] = 50
fruit1

{'apple': 30, 'banana': 50, 'orange': 70, 'grapes': 90}

In [3]:
type(fruit1)

dict

In [4]:
#extract keys
fruit1.keys()

dict_keys(['apple', 'banana', 'orange', 'grapes'])

In [5]:
#extract values
fruit1.values()

dict_values([30, 40, 70, 90])

In [6]:
#adding new element
fruit1['blueberry'] = 100
fruit1

{'apple': 30, 'banana': 40, 'orange': 70, 'grapes': 90, 'blueberry': 100}

In [7]:
#update element
fruit1['blueberry'] = 95
fruit1

{'apple': 30, 'banana': 40, 'orange': 70, 'grapes': 90, 'blueberry': 95}

In [29]:
vegi1 = {'potato':50,'tomato':20,'rice':60}
vegi1

{'potato': 50, 'tomato': 20, 'rice': 60}

In [30]:
a = dict.fromkeys(fruit1,vegi1) #ra
a

{'apple': {'potato': 50, 'tomato': 20, 'rice': 60},
 'banana': {'potato': 50, 'tomato': 20, 'rice': 60},
 'orange': {'potato': 50, 'tomato': 20, 'rice': 60},
 'grapes': {'potato': 50, 'tomato': 20, 'rice': 60}}

In [31]:
fruit1.update(vegi1)
fruit1

{'apple': 30,
 'banana': 40,
 'orange': 70,
 'grapes': 90,
 'potato': 50,
 'tomato': 20,
 'rice': 60}

In [32]:
fruit1.update({'magno':60}) #add item and value
fruit1

{'apple': 30,
 'banana': 40,
 'orange': 70,
 'grapes': 90,
 'potato': 50,
 'tomato': 20,
 'rice': 60,
 'magno': 60}

In [33]:
x = fruit1.get('rice') # get the value of selected item
x

60

### 4 - Set
- Unordered and unindexed
- enclosed in curly braces {}
- no duplicated allowed

In [36]:
s1 = {'pizza',2.5,True,'cake',10}
s1

{10, 2.5, True, 'cake', 'pizza'}

In [13]:
type(s1)

set

In [15]:
s1.add(11)
s1

{10, 11, 2.5, True, 'cake', 'pizza'}

In [16]:
s1.remove(11)
s1

{10, 2.5, True, 'cake', 'pizza'}

In [65]:
s1.discard('cake') #remove selected from the list
s1

{10, 2.5, True, 'pizza'}

In [37]:
t1 = {'cake',9,False,100.1}
t1

{100.1, 9, False, 'cake'}

In [70]:
type(t1)

set

In [72]:
z1 = s1.isdisjoint(t1) # return true if none of the items match else false
z1

False

In [73]:
z1 = s1.intersection(t1) # return true if find similar in both sets
z1

{True}

In [79]:
s1.intersection_update(t1) #Remove the items that is not present in both s1 and t1:
s1

set()

In [74]:
z1 = s1.difference(t1) #Return a set that contains the items that only exist in set s1, and not in set t1:


z1

{10, 2.5, 'pizza'}

In [78]:
s1.difference_update(t1) #Remove the items that exist in both sets:
s1

{10, 2.5, 'pizza'}

In [53]:
s1 = {'pizza',2.5,True,'cake',10}
s1

{10, 2.5, True, 'cake', 'pizza'}

In [52]:
t1 = {'cake',9,False,100.1}
t1

{100.1, 9, False, 'cake'}

In [41]:
s1.intersection_update(t1) # remove the item that are not present in bot sets
s1

{'cake'}

In [44]:
s1.issubset(t1) #Return True if all items in set s1 are present in set t1

False

In [45]:
s1.issuperset(t1) #Return True if all items set t1 are present in set s1

False

In [47]:
s1.pop() #Remove a random item from the set:
s1

{10, 2.5, True, 'cake'}

In [48]:
s1.remove(2.5) #remove any item
s1

{10, True, 'cake'}

In [51]:
z1 = s1.symmetric_difference(t1) #return all from both set but not the same items from both sets
z1

{10, 100.1, 2.5, 9, False, True, 'pizza'}

In [56]:
z2 = s1.symmetric_difference_update(t1) #Remove the items that are present in both sets, AND insert the items that is not present in both sets:
z2

In [62]:
g2 = s1.union(t1) #Return a set that contains all items from both sets, duplicates are excluded:
g2

{10, 100.1, 2.5, 9, False, True, 'cake', 'pizza'}

In [63]:
h1 = s1.update(t1)
h1